body {
    background: whitesmoke;
    margin: 0;
    padding: 100px 0 0 75px;
    }
    h2 {
    color: #717171;
    }
    p {
    font: normal 100%/1.5 Helvetica, cursive, Sans-serif;
    color: #313131;
    }
    .form-group {
        width: 1500px;   /* Ancho del contenedor del form*/
    }
    h1 {
        color: #333;
    }
    
    .cuadros-lista {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .cuadros-lista li {
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        width: 300px;
        height: 210px; /* Ajusta el alto para incluir imagen y texto */
        display: flex;
        flex-direction: column; /* Coloca la imagen y el texto en columna */
        align-items: center;
        justify-content: space-between;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        text-align: center;
    }
    
    .cuadros-lista img {
        width: 100%; /* Ajusta la imagen al ancho del cuadro */
        height: auto; /* Mantiene la proporción de la imagen */
        border-radius: 4px; /* Bordes redondeados en la imagen */
        margin-bottom: 2px;
    }
    
    .cuadros-lista p {
        margin: 0;
        font-size: 14px;
        color: #333;
    }